.container{
    padding: 0 150px;
    height: 555px;
    
}


.SevenText{
    color: #fff;
    text-align: start;
    margin: 100px 0;
}


.SevenServis{
     color: #fff;
    display: flex;
    justify-content: center;
    background-color: #1B1B1B;
    border-radius: 9px;
    width: 1179px;
    padding: 40px 50px;
    
    
}

.SevenServisText{
    text-align: start;
  
   

}


.d1{
  text-align: center;
  margin-left: 140px;
  padding: 35px 0;
}


  
    .d1 form{
    position: relative;
    margin: 1em;
    
  }
  
 .d1 input {
    width: 385.67852783203125px;
    height: 48px;
    border-radius: 8px;
    
    
  }
  
  .d1 button {
    position: absolute;
    top: .6em;
    right: .4em;
    height: 2.2em;
    width: 104.99603271484375px;
    height: 37px;
    border-radius: 8px;
    background: #DC7000;
color: #fff;

  }

 