
.container{
   height: 600px;

}

.wrapp{
    height: 100%;
display: flex;
max-width: 1440px;
background-color: black;
padding: 3%;
margin: 0 auto;



}


.threeText{
    text-align: start;
    padding-right: 140px;
    line-height: 30px;


}


.threeText h1 {
    color: #fff;
    margin-bottom: 20px;
}

.threeText h4 {
    color: #ffffff9b;
    margin-bottom: 20px;
}

.ThreBtn{
    margin-top: 40px;
    background: #DC7000;
    width: 177px;
    height: 50px;
    transition: 1s;
}
.ThreBtn:hover{
    background-color: #83470795;
  

}